body{
    text-align: center;
    background-image: url(images/bg_Argyle.jpg);
}

form{
    background-color: white;
    width: 55%;
    margin: 0 auto;
}

.waku{
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
    
}